body {
    font-weight: Arial, sans-serif;
    background-color: white;
    text-align: center;
    font-size: 20px;
}

.image.container {
    display: inline-block;
    margin: 20px;
}

img {
    border: 1px solid #360707;
}

.image.info {
    text-align: left;
    font-weight: lighter;
    color: gray;
}
